@model IEnumerable<RopeyDVDs.Models.Member>

@{
    ViewData["Title"] = "Member's List";
}

<h1>Member's List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Member's Last Name
            </th>
            <th>
               Member's First Name
            </th>
            <th>
               Member's Address
            </th>
            <th>
                Member's DOB
            </th>
            <th>
               Membership's Category Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipCategoryNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Current Loan Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
