@model IEnumerable<RopeyDVDs.Models.Member>

@{
    ViewData["Title"] = "Member's List";
}

<h1>Member's List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Member's Last Name
            </th>
            <th>
               Member's First Name
            </th>
            <th>
               Member's Address
            </th>
            <th>
                Member's DOB
            </th>
            <th>
               Membership's Category Number
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.MemberFirstName
            </td>
            <td>
                @item.MemberLastName
            </td>
            <td>
                @item.MemberAddress
            </td>
            <td>
                @item.MemberDOB
            </td>
            <td>
                @item.Membership
            </td>
            <td>
                    @if (item.TotalAcceptedLoan < item.TotalPendingLoan )
                    {
                        <p>Too Many DVDs (@item.TotalPendingLoan)</p>
                    } 
                    else
                    {
                        @item.TotalPendingLoan
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>