@model IEnumerable<RopeyDVDs.Models.DVDCopy>

@{
    ViewData["Title"] = "Status";
}

<h1>Copy Status</h1>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                DVD Copy: @ViewBag.DVDCopy.Title
            </h3>
        </div>
        <div class="card-body">
            <p>
                <span class="text-bold">DVD Title: </span> @ViewBag.DVDCopy.Title
            </p>
            <p>
                <span class="text-bold">Member Name: </span> @ViewBag.DVDCopy.Member
            </p>
            <p>
                <span class="text-bold">Date Out: </span> @ViewBag.DVDCopy.DateOut
            </p>
            <p>
                <span class="text-bold">Date Back: </span> @ViewBag.DVDCopy.DateBack
            </p>
            <p>
                <span class="text-bold">Is On Loan: </span> @ViewBag.DVDCopy.IsOnLoan
            </p>
        </div>
    </div>
</div>

