@model IEnumerable<RopeyDVDs.Models.DVDTitle>

@{
    ViewData["Title"] = "DVD Title's List";
}

<h1>DVD Title's List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Producer ID
            </th>
            <th>
                DVD Category ID
            </th>
            <th>
               Studio ID
            </th>
            <th>
               Title
            </th>
            <th>
                Date Released
            </th>
            <th>
               Standard Charge
            </th>
            <th>
               Penalty Charge
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDCategory.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyCharge)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
